/.git-blame-ignore-revs export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.phive export-ignore
/.prettyphp export-ignore
/docs export-ignore
/phpstan* export-ignore
/phpunit* export-ignore
/scripts export-ignore
/src/Cli/CliOptionBuilder.php linguist-generated
/src/Curler/CurlerBuilder.php linguist-generated
/src/Curler/Support/CurlerPageBuilder.php linguist-generated
/src/Facade/App.php linguist-generated
/src/Facade/Cache.php linguist-generated
/src/Facade/Console.php linguist-generated
/src/Facade/DI.php linguist-generated
/src/Facade/Err.php linguist-generated
/src/Facade/Event.php linguist-generated
/src/Facade/Profile.php linguist-generated
/src/Facade/Sync.php linguist-generated
/src/Sync/Support/DbSyncDefinitionBuilder.php linguist-generated
/src/Sync/Support/HttpSyncDefinitionBuilder.php linguist-generated
/src/Sync/Support/SyncErrorBuilder.php linguist-generated
/src/Sync/Support/SyncSerializeRulesBuilder.php linguist-generated
/tests export-ignore
/tests/data/entity/albums.json linguist-generated
/tests/data/entity/comments.json linguist-generated
/tests/data/entity/photos.json linguist-generated
/tests/data/entity/posts.json linguist-generated
/tests/data/entity/todos.json linguist-generated
/tests/data/entity/users.json linguist-generated
/tests/fixtures/Concept/Facade/MyBrokenFacade.php linguist-generated
/tests/fixtures/Concept/Facade/MyClassFacade.php linguist-generated
/tests/fixtures/Concept/Facade/MyInterfaceFacade.php linguist-generated
/tests/fixtures/Sync/Entity/Album.php linguist-generated
/tests/fixtures/Sync/Entity/Comment.php linguist-generated
/tests/fixtures/Sync/Entity/Photo.php linguist-generated
/tests/fixtures/Sync/Entity/Post.php linguist-generated
/tests/fixtures/Sync/Entity/Provider/AlbumProvider.php linguist-generated
/tests/fixtures/Sync/Entity/Provider/CommentProvider.php linguist-generated
/tests/fixtures/Sync/Entity/Provider/PhotoProvider.php linguist-generated
/tests/fixtures/Sync/Entity/Provider/PostProvider.php linguist-generated
/tests/fixtures/Sync/Entity/Provider/TaskProvider.php linguist-generated
/tests/fixtures/Sync/Entity/Provider/UserProvider.php linguist-generated
/tests/fixtures/Sync/Entity/Task.php linguist-generated
/tests/fixtures/Sync/Entity/User.php linguist-generated
/tools export-ignore
