/.git-blame-ignore-revs export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.phive export-ignore
/.php-cs-fixer.* export-ignore
/.prettyphp export-ignore
/.vscode export-ignore
/composer.lock export-ignore
/docs export-ignore
/phpstan* export-ignore
/phpstan-baseline-7.4.neon linguist-generated
/phpstan-baseline-8.3.neon linguist-generated
/phpstan.extension.neon -export-ignore
/phpunit* export-ignore
/scripts export-ignore
/src/Toolkit/Cli/CliOptionBuilder.php linguist-generated
/src/Toolkit/Core/Facade/App.php linguist-generated
/src/Toolkit/Core/Facade/Cache.php linguist-generated
/src/Toolkit/Core/Facade/Config.php linguist-generated
/src/Toolkit/Core/Facade/Console.php linguist-generated
/src/Toolkit/Core/Facade/Err.php linguist-generated
/src/Toolkit/Core/Facade/Event.php linguist-generated
/src/Toolkit/Core/Facade/Profile.php linguist-generated
/src/Toolkit/Core/Facade/Sync.php linguist-generated
/src/Toolkit/Curler/CurlerBuilder.php linguist-generated
/src/Toolkit/Sync/DbSyncDefinitionBuilder.php linguist-generated
/src/Toolkit/Sync/HttpSyncDefinitionBuilder.php linguist-generated
/src/Toolkit/Sync/SyncErrorBuilder.php linguist-generated
/src/Toolkit/Sync/SyncSerializeRulesBuilder.php linguist-generated
/stubs/*.stub export-ignore
/tests export-ignore
/tests/data/entity/albums.json linguist-generated
/tests/data/entity/comments.json linguist-generated
/tests/data/entity/photos.json linguist-generated
/tests/data/entity/posts.json linguist-generated
/tests/data/entity/todos.json linguist-generated
/tests/data/entity/users.json linguist-generated
/tests/data/unicode/ucd/DerivedCoreProperties.txt linguist-generated
/tests/data/unicode/ucd/ReadMe.txt linguist-generated
/tests/data/unicode/ucd/extracted/DerivedGeneralCategory.txt linguist-generated
/tests/fixtures/Toolkit/Core/AbstractFacade/MyBrokenFacade.php linguist-generated
/tests/fixtures/Toolkit/Core/AbstractFacade/MyClassFacade.php linguist-generated
/tests/fixtures/Toolkit/Core/AbstractFacade/MyInterfaceFacade.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Album.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Comment.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Photo.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Post.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Provider/AlbumProvider.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Provider/CollidesProvider.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Provider/CommentProvider.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Provider/PhotoProvider.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Provider/PostProvider.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Provider/TaskProvider.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Provider/UnimplementedProvider.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Provider/UserProvider.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/Task.php linguist-generated
/tests/fixtures/Toolkit/Sync/Entity/User.php linguist-generated
/tests/fixtures/Toolkit/Sync/External/Entity/Provider/CollidesProvider.php linguist-generated
/tools export-ignore
