includes:
	- tests/phpstan-conditional.php

parameters:
	level: 9
	paths:
		- bin/sli
		- scripts
		- src
		- stubs
		- tests/3rdparty
		- tests/fixtures
		- tests/unit
		- tests/phpstan-conditional.php
		- bootstrap.php
	stubFiles:
		- stubs/ADOConnection.stub
		- stubs/ADORecordSet.stub
	universalObjectCratesClasses:
		- Salient\Contract\Core\Extensible
