includes:
	- phpstan-baseline.neon
	- tests/phpstan-conditional.php

parameters:
	level: 6
	paths:
		- bin/lk-util
		- bootstrap.php
		- lib
		- scripts
		- src
		- stubs
		- tests/unit
	ignoreErrors:
		- "#^Property Lkrms\\\\.+\\\\Command\\\\.+\\:\\:\\$[a-zA-Z0-9_]+ is never written, only read\\.$#"
		- "#^Method Lkrms\\\\Tests\\\\(.+Test|TestCase)\\:\\:.+\\(\\) has no return type specified\\.$#"
