parameters:
	ignoreErrors:
		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/Cli/CliCommand.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: src/Concept/ProviderEntity.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: src/Console/Console.php

		-
			message: "#^Property Lkrms\\\\Container\\\\CliAppContainer\\:\\:\\$Commands is never read, only written\\.$#"
			count: 1
			path: src/Container/CliAppContainer.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Container/Container.php

		-
			message: "#^Property Lkrms\\\\Curler\\\\CurlerHeaders\\:\\:\\$Trailers is never read, only written\\.$#"
			count: 1
			path: src/Curler/CurlerHeaders.php

		-
			message: """
				#^Call to deprecated method silenceErrorsInPaths\\(\\) of class Lkrms\\\\Err\\\\Err\\:
				Use \\{@see Err\\:\\:silencePaths\\(\\)\\}$#
			"""
			count: 2
			path: src/Err/Err.php

		-
			message: "#^Strict comparison using \\=\\=\\= between array\\<array\\<int, int\\|string\\>\\|int\\|string, mixed\\> and false will always evaluate to false\\.$#"
			count: 1
			path: src/Support/ArrayMapper.php

		-
			message: "#^Do\\-while loop condition is always false\\.$#"
			count: 1
			path: src/Support/HttpServer.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: src/Support/PhpDocParser.php

		-
			message: "#^Call to function is_null\\(\\) with ReflectionMethod\\|null will always evaluate to false\\.$#"
			count: 1
			path: src/Sync/Provider/SyncEntityProvider.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Sync/Provider/SyncEntityProvider.php

		-
			message: "#^Call to an undefined method ReflectionType\\:\\:isBuiltin\\(\\)\\.$#"
			count: 1
			path: src/Util/Reflect.php

		-
			message: "#^Casting class ReflectionType to string is deprecated\\.$#"
			count: 1
			path: src/Util/Reflect.php

		-
			message: """
				#^Call to deprecated method silenceErrorsInPaths\\(\\) of class Lkrms\\\\Err\\\\Err\\:
				Use \\{@see Err\\:\\:silencePaths\\(\\)\\}$#
			"""
			count: 1
			path: tests/err

