includes:
  - phpstan-baseline.neon

parameters:
  level: 5
  paths:
    - src
    - lib
    - bin/lk-util
    - tests
    - tests/app
    - tests/cache
    - tests/Cli/app
    - tests/Cli/test-options
    - tests/closure
    - tests/composer
    - tests/console
    - tests/convert
    - tests/Curler/curler
    - tests/env
    - tests/err
    - tests/file
    - tests/generate
    - tests/ioc
    - tests/legacy
    - tests/lk-util
    - tests/Reflect/property_resolver
    - tests/Reflect/reflect
    - tests/sql
    - tests/Support/http_server
    - tests/Sync/sync
    - tests/Template/tconstructible
    - tests/Template/tgettable
    - tests/trash
  bootstrapFiles:
    - tests/bootstrap.php
  ignoreErrors:
    - "# has unknown class Curl(Multi)?Handle as its type\\.$#"
    - """
        #^Call to deprecated method get(Get|Set)table\\(\\) of class Lkrms\\\\[^\\s]+\\:
        Rename to get(Read|Writ)able$#
      """
    -
      message: "#^Class Lkrms\\\\[^\\s]+ not found\\.$#"
      path: src/Util/Legacy.php
    -
      message: "#^Closure invoked with [123] parameters?, 1 required\\.$#"
      path: src/Support/ClosureBuilder.php
    -
      message: "#^(Class |Instantiated class )Lkrms(\\\\[^\\s]+)+ not found\\.$#"
      path: tests/legacy
    -
      message: "#^Call to static method [^\\s]+\\(\\) on an unknown class Lkrms\\\\[^\\s]+\\.$#"
      path: tests/legacy
  reportUnmatchedIgnoredErrors: false
