parameters:
	ignoreErrors:
		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: lib/lk-util/Command/Generate/GenerateBuilderClass.php

		-
			message: "#^Property Lkrms\\\\Cli\\\\CliAppContainer\\:\\:\\$Commands is never read, only written\\.$#"
			count: 1
			path: src/Cli/CliAppContainer.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/Cli/Concept/CliCommand.php

		-
			message: "#^Property Lkrms\\\\Container\\\\Container\\:\\:\\$Context is never read, only written\\.$#"
			count: 1
			path: src/Container/Container.php

		-
			message: "#^Property Lkrms\\\\Container\\\\Container\\:\\:\\$ContextStack is never read, only written\\.$#"
			count: 1
			path: src/Container/Container.php

		-
			message: "#^Strict comparison using \\=\\=\\= between array\\<array\\<int, int\\|string\\>\\|int\\|string, mixed\\> and false will always evaluate to false\\.$#"
			count: 1
			path: src/Support/ArrayMapper.php

		-
			message: "#^Do\\-while loop condition is always false\\.$#"
			count: 1
			path: src/Support/HttpServer.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: src/Support/PhpDocParser.php

		-
			message: "#^Property Lkrms\\\\Sync\\\\Concept\\\\SyncProvider\\:\\:\\$Hash is never read, only written\\.$#"
			count: 1
			path: src/Sync/Concept/SyncProvider.php

		-
			message: "#^Property Lkrms\\\\Sync\\\\Concept\\\\SyncProvider\\:\\:\\$Id is never read, only written\\.$#"
			count: 1
			path: src/Sync/Concept/SyncProvider.php

		-
			message: "#^Property Lkrms\\\\Sync\\\\Support\\\\SyncStore\\:\\:\\$Providers is never read, only written\\.$#"
			count: 1
			path: src/Sync/Support/SyncStore.php

		-
			message: "#^Call to an undefined method ReflectionType\\:\\:isBuiltin\\(\\)\\.$#"
			count: 1
			path: src/Utility/Reflection.php

		-
			message: "#^Casting class ReflectionType to string is deprecated\\.$#"
			count: 1
			path: src/Utility/Reflection.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 2
			path: src/Utility/Reflection.php

		-
			message: "#^Call to an undefined method Lkrms\\\\Cli\\\\CliOptionBuilder\\:\\:value\\(\\)\\.$#"
			count: 1
			path: tests/Cli/CliOptionBuilderTest.php

