parameters:
	ignoreErrors:
		-
			message: "#^Static property Lkrms\\\\Cli\\\\Cli\\:\\:\\$Commands is never read, only written\\.$#"
			count: 1
			path: src/Cli/Cli.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/Cli/CliCommand.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: src/Console/Console.php

		-
			message: "#^Strict comparison using \\=\\=\\= between array\\<int\\|string, mixed\\> and false will always evaluate to false\\.$#"
			count: 1
			path: src/Core/Support/ClosureBuilder.php

		-
			message: "#^Property Lkrms\\\\Curler\\\\CurlerHeaders\\:\\:\\$Trailers is never read, only written\\.$#"
			count: 1
			path: src/Curler/CurlerHeaders.php

		-
			message: "#^Call to function is_null\\(\\) with ReflectionMethod\\|null will always evaluate to false\\.$#"
			count: 1
			path: src/Sync/Provider/SyncEntityProvider.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Sync/Provider/SyncEntityProvider.php

