services:
	-
		class: Salient\PHPStan\Rules\Core\GetCoalesceRule
		tags:
			- phpstan.rules.rule

	-
		class: Salient\PHPStan\Type\Core\ArrExtendMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Type\Core\ArrWhereNotEmptyMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Type\Core\ArrWhereNotNullMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Type\Core\GetCoalesceMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Type\Core\StrCoalesceMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
