parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$pieces of function implode expects array, array\\<int, string\\>\\|null given\\.$#"
			count: 1
			path: src/Toolkit/Cli/CliCommand.php

		-
			message: "#^Parameter \\#2 \\$openTag of class Salient\\\\Console\\\\Support\\\\ConsoleTagAttributes constructor expects string, array\\<int, int\\|string\\>\\|string given\\.$#"
			count: 1
			path: src/Toolkit/Console/ConsoleFormatter.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\<int, int\\|string\\>\\|string given\\.$#"
			count: 1
			path: src/Toolkit/Console/ConsoleFormatter.php

		-
			message: "#^Possibly invalid array key type array\\<int, int\\|string\\>\\|string\\.$#"
			count: 1
			path: src/Toolkit/Console/ConsoleFormatter.php

		-
			message: "#^Cannot access property \\$Facade on Salient\\\\Console\\\\ConsoleWriter\\|null\\.$#"
			count: 1
			path: src/Toolkit/Console/ConsoleWriter.php

		-
			message: "#^Method Salient\\\\Console\\\\ConsoleWriter\\:\\:withFacade\\(\\) should return Salient\\\\Console\\\\ConsoleWriter but returns Salient\\\\Console\\\\ConsoleWriter\\|null\\.$#"
			count: 1
			path: src/Toolkit/Console/ConsoleWriter.php

		-
			message: "#^Method Salient\\\\Console\\\\ConsoleWriter\\:\\:withoutFacade\\(\\) should return Salient\\\\Console\\\\ConsoleWriter but returns Salient\\\\Console\\\\ConsoleWriter\\|null\\.$#"
			count: 1
			path: src/Toolkit/Console/ConsoleWriter.php

		-
			message: "#^Parameter \\#1 \\$object_or_string of function is_a expects object\\|string, string\\|null given\\.$#"
			count: 1
			path: src/Toolkit/Core/IntrospectionClass.php

		-
			message: "#^Property Salient\\\\Core\\\\IntrospectionClass\\<TClass of object\\>\\:\\:\\$OneToManyRelationships \\(array\\<string, class\\-string\\<Salient\\\\Contract\\\\Core\\\\Entity\\\\Relatable\\>\\>\\) does not accept array\\<string, class\\-string\\<object\\>\\>\\.$#"
			count: 1
			path: src/Toolkit/Core/IntrospectionClass.php

		-
			message: "#^Property Salient\\\\Core\\\\IntrospectionClass\\<TClass of object\\>\\:\\:\\$OneToOneRelationships \\(array\\<string, class\\-string\\<Salient\\\\Contract\\\\Core\\\\Entity\\\\Relatable\\>\\>\\) does not accept array\\<string, class\\-string\\<object\\>\\>\\.$#"
			count: 1
			path: src/Toolkit/Core/IntrospectionClass.php

		-
			message: "#^Cannot access offset class\\-string\\<TClass of object\\> on Salient\\\\Core\\\\IntrospectionClass\\<object\\>\\.$#"
			count: 2
			path: src/Toolkit/Core/Introspector.php

		-
			message: "#^Parameter \\#2 of closure expects TProvider of Salient\\\\Contract\\\\Core\\\\Provider\\\\ProviderInterface, Salient\\\\Contract\\\\Core\\\\Provider\\\\ProviderInterface given\\.$#"
			count: 1
			path: src/Toolkit/Core/Introspector.php

		-
			message: "#^Parameter \\#2 of closure expects class\\-string\\|null, string\\|null given\\.$#"
			count: 1
			path: src/Toolkit/Core/Introspector.php

		-
			message: "#^Parameter \\#3 of closure expects TContext of Salient\\\\Contract\\\\Core\\\\Provider\\\\ProviderContextInterface, Salient\\\\Contract\\\\Core\\\\Provider\\\\ProviderContextInterface given\\.$#"
			count: 1
			path: src/Toolkit/Core/Introspector.php

		-
			message: "#^Parameter \\#4 of closure expects \\(TProvider of Salient\\\\Contract\\\\Core\\\\Provider\\\\ProviderInterface\\)\\|null, Salient\\\\Contract\\\\Core\\\\Provider\\\\ProviderInterface\\|null given\\.$#"
			count: 3
			path: src/Toolkit/Core/Introspector.php

		-
			message: "#^Parameter \\#5 of closure expects \\(TContext of Salient\\\\Contract\\\\Core\\\\Provider\\\\ProviderContextInterface\\)\\|null, Salient\\\\Contract\\\\Core\\\\Provider\\\\ProviderContextInterface\\|null given\\.$#"
			count: 3
			path: src/Toolkit/Core/Introspector.php

		-
			message: "#^Parameter \\#1 \\$where of method Salient\\\\Core\\\\SqlQuery\\:\\:buildWhere\\(\\) expects array\\<int\\|string, array\\|string\\>, array given\\.$#"
			count: 1
			path: src/Toolkit/Core/SqlQuery.php

		-
			message: "#^Part \\$glue \\(array\\|string\\) of encapsed string cannot be cast to string\\.$#"
			count: 1
			path: src/Toolkit/Core/SqlQuery.php

		-
			message: "#^Cannot call method getFileName\\(\\) on ReflectionClass\\|null\\.$#"
			count: 1
			path: src/Toolkit/Sli/Command/Generate/GenerateBuilder.php

		-
			message: "#^Parameter \\#2 \\$filename of method Salient\\\\Sli\\\\Command\\\\Generate\\\\AbstractGenerateCommand\\:\\:expandAlias\\(\\) expects string\\|null, string\\|false\\|null given\\.$#"
			count: 1
			path: src/Toolkit/Sli/Command/Generate/GenerateBuilder.php

		-
			message: "#^Parameter \\#2 \\$filename of method Salient\\\\Sli\\\\Command\\\\Generate\\\\AbstractGenerateCommand\\:\\:getTypeAlias\\(\\) expects string\\|null, string\\|false given\\.$#"
			count: 7
			path: src/Toolkit/Sli/Command/Generate/GenerateBuilder.php

		-
			message: "#^Parameter \\#4 \\$filename of method Salient\\\\Sli\\\\Command\\\\Generate\\\\AbstractGenerateCommand\\:\\:getPHPDocTypeAlias\\(\\) expects string\\|null, string\\|false given\\.$#"
			count: 3
			path: src/Toolkit/Sli/Command/Generate/GenerateBuilder.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php

		-
			message: "#^Cannot access offset 'data'\\|'Items'\\|'Result' on mixed\\.$#"
			count: 1
			path: src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php

		-
			message: "#^Parameter \\#1 \\$data of method Salient\\\\Contract\\\\Curler\\\\CurlerInterface\\:\\:post\\(\\) expects array\\|object\\|null, mixed given\\.$#"
			count: 1
			path: src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php

		-
			message: "#^Property Salient\\\\Sli\\\\Command\\\\Generate\\\\GenerateSyncEntity\\:\\:\\$Entity \\(array\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php

		-
			message: "#^Parameter \\#2 \\$filename of method Salient\\\\Sli\\\\Command\\\\Generate\\\\AbstractGenerateCommand\\:\\:getTypeAlias\\(\\) expects string\\|null, string\\|false given\\.$#"
			count: 1
			path: src/Toolkit/Sli/Command/Generate/GenerateTests.php

		-
			message: "#^Argument of an invalid type iterable\\<TEntity of Salient\\\\Contract\\\\Sync\\\\SyncEntityInterface\\>\\|TEntity of Salient\\\\Contract\\\\Sync\\\\SyncEntityInterface passed to yield from, only iterables are supported\\.$#"
			count: 1
			path: src/Toolkit/Sync/Support/SyncEntityProvider.php

		-
			message: "#^Method Salient\\\\Sync\\\\Support\\\\SyncEntityProvider\\:\\:get\\(\\) should return TEntity of Salient\\\\Contract\\\\Sync\\\\SyncEntityInterface but returns Salient\\\\Contract\\\\Sync\\\\SyncEntityInterface\\.$#"
			count: 1
			path: src/Toolkit/Sync/Support/SyncEntityProvider.php

		-
			message: "#^Parameter \\#1 \\$iterable of class Salient\\\\Iterator\\\\IterableIterator constructor expects iterable\\<TKey of \\(int\\|string\\), TEntity of Salient\\\\Contract\\\\Sync\\\\SyncEntityInterface\\>, iterable\\<TEntity of Salient\\\\Contract\\\\Sync\\\\SyncEntityInterface\\> given\\.$#"
			count: 1
			path: src/Toolkit/Sync/Support/SyncEntityProvider.php

		-
			message: "#^Cannot call method getOffline\\(\\) on Salient\\\\Contract\\\\Sync\\\\SyncContextInterface\\|null\\.$#"
			count: 1
			path: src/Toolkit/Sync/Support/SyncIntrospector.php

		-
			message: "#^Parameter \\#2 of closure expects TClass of object, Salient\\\\Contract\\\\Sync\\\\SyncEntityInterface given\\.$#"
			count: 1
			path: src/Toolkit/Sync/Support/SyncIntrospector.php

		-
			message: "#^Parameter \\#4 \\$entityId of static method Salient\\\\Sync\\\\Support\\\\DeferredEntity\\<Salient\\\\Contract\\\\Sync\\\\SyncEntityInterface\\>\\:\\:defer\\(\\) expects int\\|string, bool\\|float\\|int\\|string given\\.$#"
			count: 2
			path: src/Toolkit/Sync/Support/SyncIntrospector.php

		-
			message: "#^Parameter \\#4 \\$forEntity of static method Salient\\\\Sync\\\\Support\\\\DeferredRelationship\\<Salient\\\\Contract\\\\Sync\\\\SyncEntityInterface\\>\\:\\:defer\\(\\) expects class\\-string\\<Salient\\\\Contract\\\\Sync\\\\SyncEntityInterface\\>, string given\\.$#"
			count: 2
			path: src/Toolkit/Sync/Support/SyncIntrospector.php

		-
			message: "#^Parameter \\#1 \\$value of static method Salient\\\\Utility\\\\Get\\:\\:value\\(\\) expects \\(Closure\\(mixed \\.\\.\\.\\)\\: string\\)\\|string, \\(Closure\\(string\\|null\\)\\: string\\)\\|string given\\.$#"
			count: 1
			path: src/Toolkit/Utility/Inflect.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/Toolkit/Utility/Inflect.php

		-
			message: "#^Method Salient\\\\Utility\\\\Regex\\:\\:matchAll\\(\\) should return int but returns int\\<0, max\\>\\|null\\.$#"
			count: 1
			path: src/Toolkit/Utility/Regex.php

		-
			message: "#^Method Salient\\\\Utility\\\\Regex\\:\\:replace\\(\\) should return T of array\\<string\\>\\|string but returns array\\<int, string\\>\\|string\\.$#"
			count: 1
			path: src/Toolkit/Utility/Regex.php

		-
			message: "#^Method Salient\\\\Utility\\\\Regex\\:\\:replaceCallback\\(\\) should return T of array\\<string\\>\\|string but returns array\\<int, string\\>\\|string\\.$#"
			count: 1
			path: src/Toolkit/Utility/Regex.php

		-
			message: "#^Method Salient\\\\Utility\\\\Regex\\:\\:replaceCallbackArray\\(\\) should return T of array\\<string\\>\\|string but returns array\\|string\\.$#"
			count: 1
			path: src/Toolkit/Utility/Regex.php

		-
			message: "#^Parameter \\#2 \\$callback of function preg_replace_callback expects callable\\(array\\<int\\|string, string\\>\\)\\: string, \\(callable\\(array\\<array\\{string, int\\}\\>\\)\\: string\\)\\|\\(callable\\(array\\<string\\>\\)\\: string\\) given\\.$#"
			count: 1
			path: src/Toolkit/Utility/Regex.php

		-
			message: "#^Parameter \\#3 \\$pattern of class Salient\\\\Utility\\\\Exception\\\\PcreErrorException constructor expects array\\<\\(callable\\(array\\<string\\|null\\>\\)\\: string\\)\\|string\\>\\|string, array\\<string, \\(callable\\(array\\<array\\{string, int\\}\\>\\)\\: string\\)\\|\\(callable\\(array\\<string\\>\\)\\: string\\)\\> given\\.$#"
			count: 1
			path: src/Toolkit/Utility/Regex.php

		-
			message: "#^Parameter \\#4 \\$subject of class Salient\\\\Utility\\\\Exception\\\\PcreErrorException constructor expects array\\<string\\>\\|string, array\\<TKey of \\(int\\|string\\), TValue of bool\\|float\\|int\\|string\\|Stringable\\|null\\> given\\.$#"
			count: 1
			path: src/Toolkit/Utility/Regex.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of function array_merge expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: src/Toolkit/Utility/Str.php

		-
			message: "#^Cannot access property \\$Facade on static\\(Salient\\\\Tests\\\\Core\\\\AbstractFacade\\\\MyHasFacadeClass\\)\\|null\\.$#"
			count: 1
			path: tests/fixtures/Toolkit/Core/AbstractFacade/MyHasFacadeClass.php

		-
			message: "#^Method Salient\\\\Tests\\\\Core\\\\AbstractFacade\\\\MyHasFacadeClass\\:\\:withFacade\\(\\) should return static\\(Salient\\\\Tests\\\\Core\\\\AbstractFacade\\\\MyHasFacadeClass\\) but returns static\\(Salient\\\\Tests\\\\Core\\\\AbstractFacade\\\\MyHasFacadeClass\\)\\|null\\.$#"
			count: 1
			path: tests/fixtures/Toolkit/Core/AbstractFacade/MyHasFacadeClass.php

		-
			message: "#^Method Salient\\\\Tests\\\\Core\\\\AbstractFacade\\\\MyHasFacadeClass\\:\\:withoutFacade\\(\\) should return static\\(Salient\\\\Tests\\\\Core\\\\AbstractFacade\\\\MyHasFacadeClass\\) but returns static\\(Salient\\\\Tests\\\\Core\\\\AbstractFacade\\\\MyHasFacadeClass\\)\\|null\\.$#"
			count: 1
			path: tests/fixtures/Toolkit/Core/AbstractFacade/MyHasFacadeClass.php

		-
			message: "#^Cannot access offset 1 on mixed\\.$#"
			count: 1
			path: tests/fixtures/Toolkit/Core/Process/cat.php

		-
			message: "#^Parameter \\#1 \\$input of function array_slice expects array, mixed given\\.$#"
			count: 1
			path: tests/fixtures/Toolkit/Core/Process/cat.php

		-
			message: "#^Parameter \\#4 \\.\\.\\.\\$values of function fprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: tests/fixtures/Toolkit/Core/Process/cat.php

		-
			message: "#^Method Salient\\\\Tests\\\\Http\\\\OAuth2\\\\OAuth2Client\\\\OAuth2TestClient\\:\\:getFlow\\(\\) never returns 1 so it can be removed from the return type\\.$#"
			count: 1
			path: tests/fixtures/Toolkit/Http/OAuth2/OAuth2Client/OAuth2TestClient.php

		-
			message: "#^Method Salient\\\\Tests\\\\Http\\\\OAuth2\\\\OAuth2Client\\\\OAuth2TestClient\\:\\:getJsonWebKeySetUrl\\(\\) never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: tests/fixtures/Toolkit/Http/OAuth2/OAuth2Client/OAuth2TestClient.php

		-
			message: "#^Method Salient\\\\Tests\\\\Http\\\\OAuth2\\\\OAuth2Client\\\\OAuth2TestClient\\:\\:getListener\\(\\) never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: tests/fixtures/Toolkit/Http/OAuth2/OAuth2Client/OAuth2TestClient.php

		-
			message: "#^PHPDoc tag @property has invalid value \\(\\$MyMagicProperty Description of MyBaseClass\\:\\:\\$MyMagicProperty\\)\\: Unexpected token \"\\$MyMagicProperty\", expected type at offset 46 on line 4$#"
			count: 1
			path: tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyBaseClass.php

		-
			message: "#^Parameter \\#1 \\$data of static method Salient\\\\Sync\\\\AbstractSyncEntity\\:\\:provide\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: tests/fixtures/Toolkit/Sync/Provider/JsonPlaceholderApi.php

		-
			message: "#^Parameter \\#1 \\$str of function rawurlencode expects string, int\\|string\\|null given\\.$#"
			count: 1
			path: tests/fixtures/Toolkit/Sync/Provider/JsonPlaceholderApi.php

		-
			message: "#^Parameter \\#1 \\$entities of class Salient\\\\Curler\\\\CurlerPage constructor expects list\\<mixed\\>, array\\<array\\> given\\.$#"
			count: 1
			path: tests/fixtures/Toolkit/Sync/Provider/MockoonPager.php

		-
			message: "#^Cannot access property \\$Foo on mixed\\.$#"
			count: 1
			path: tests/unit/Toolkit/Cache/CacheStoreTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Salient\\\\\\\\Tests\\\\\\\\Cli\\\\\\\\Command\\\\\\\\TestOptions' and null will always evaluate to false\\.$#"
			count: 1
			path: tests/unit/Toolkit/Cli/CliApplicationTest.php

		-
			message: "#^PHPDoc tag @var with type Salient\\\\Console\\\\ConsoleWriter is not subtype of native type \\$this\\(Salient\\\\Tests\\\\Console\\\\ConsoleWriterTest\\)\\.$#"
			count: 1
			path: tests/unit/Toolkit/Console/ConsoleWriterTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) with 1 and array\\{\\} will always evaluate to false\\.$#"
			count: 1
			path: tests/unit/Toolkit/Core/AbstractFacadeTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Salient\\\\\\\\Tests\\\\\\\\Core\\\\\\\\AbstractFacade\\\\\\\\MyHasFacadeClass' and false will always evaluate to false\\.$#"
			count: 1
			path: tests/unit/Toolkit/Core/AbstractFacadeTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with array\\{array\\{onClose\\: 'Salient\\\\\\\\Tests\\\\\\\\Core\\\\\\\\EventDispatcher\\\\\\\\NamedLoggableEvent'\\}\\} and array\\<array\\{string, string\\}\\|string\\> will always evaluate to false\\.$#"
			count: 1
			path: tests/unit/Toolkit/Core/EventDispatcher/EventDispatcherTest.php

		-
			message: "#^Binary operation \"\\*\" between mixed and 6 results in an error\\.$#"
			count: 1
			path: tests/unit/Toolkit/Core/PipelineTest.php

		-
			message: "#^Binary operation \"/\" between mixed and 23 results in an error\\.$#"
			count: 1
			path: tests/unit/Toolkit/Core/PipelineTest.php

		-
			message: "#^Parameter \\#1 \\$iterator of function iterator_to_array expects Traversable, iterable given\\.$#"
			count: 2
			path: tests/unit/Toolkit/Core/PipelineTest.php

		-
			message: "#^Method Salient\\\\Tests\\\\Core\\\\ProcessTest\\:\\:getCallback\\(\\) never assigns null to &\\$output so it can be removed from the by\\-ref type\\.$#"
			count: 1
			path: tests/unit/Toolkit/Core/ProcessTest.php

		-
			message: "#^Offset 1 might not exist on array\\<1\\|2, string\\>\\|null\\.$#"
			count: 2
			path: tests/unit/Toolkit/Core/ProcessTest.php

		-
			message: "#^Parameter \\#1 \\$callback of method Salient\\\\Http\\\\HttpHeaders\\:\\:filter\\(\\) contains unresolvable type\\.$#"
			count: 2
			path: tests/unit/Toolkit/Http/HttpHeadersTest.php

		-
			message: "#^Strict comparison using \\=\\=\\= between \\*NEVER\\* and array\\{'accept', array\\{'\\*/\\*'\\}\\} will always evaluate to false\\.$#"
			count: 1
			path: tests/unit/Toolkit/Http/HttpHeadersTest.php

		-
			message: "#^Cannot call method getText\\(\\) on Salient\\\\Core\\\\Process\\|null\\.$#"
			count: 2
			path: tests/unit/Toolkit/Http/HttpServerTest.php

		-
			message: "#^Cannot call method wait\\(\\) on Salient\\\\Core\\\\Process\\|null\\.$#"
			count: 1
			path: tests/unit/Toolkit/Http/HttpServerTest.php

		-
			message: "#^Method Salient\\\\Tests\\\\Http\\\\HttpServerTest\\:\\:getServerWithClient\\(\\) never assigns null to &\\$client so it can be removed from the by\\-ref type\\.$#"
			count: 1
			path: tests/unit/Toolkit/Http/HttpServerTest.php

		-
			message: "#^Method Salient\\\\Tests\\\\Iterator\\\\RecursiveCallbackIteratorTest\\:\\:getArrayWithNestedObjectsAndArrays\\(\\) never assigns null to &\\$a so it can be removed from the by\\-ref type\\.$#"
			count: 1
			path: tests/unit/Toolkit/Iterator/RecursiveCallbackIteratorTest.php

		-
			message: "#^Method Salient\\\\Tests\\\\Iterator\\\\RecursiveCallbackIteratorTest\\:\\:getArrayWithNestedObjectsAndArrays\\(\\) never assigns null to &\\$d1 so it can be removed from the by\\-ref type\\.$#"
			count: 1
			path: tests/unit/Toolkit/Iterator/RecursiveCallbackIteratorTest.php

		-
			message: "#^Method Salient\\\\Tests\\\\Iterator\\\\RecursiveCallbackIteratorTest\\:\\:getArrayWithNestedObjectsAndArrays\\(\\) never assigns null to &\\$d2 so it can be removed from the by\\-ref type\\.$#"
			count: 1
			path: tests/unit/Toolkit/Iterator/RecursiveCallbackIteratorTest.php

		-
			message: "#^Method Salient\\\\Tests\\\\Iterator\\\\RecursiveCallbackIteratorTest\\:\\:getArrayWithNestedObjectsAndArrays\\(\\) never assigns null to &\\$e so it can be removed from the by\\-ref type\\.$#"
			count: 1
			path: tests/unit/Toolkit/Iterator/RecursiveCallbackIteratorTest.php

		-
			message: "#^Cannot call method getDepth\\(\\) on RecursiveIteratorIterator\\<RecursiveCallbackFilterIterator\\<string, SplFileInfo, RecursiveDirectoryIterator\\>\\|RecursiveDirectoryIterator\\>\\|null\\.$#"
			count: 1
			path: tests/unit/Toolkit/Iterator/RecursiveFilesystemIteratorTest.php

		-
			message: "#^Parameter &\\$actualCode @param\\-out type of method Salient\\\\Tests\\\\Sli\\\\SliTestCase\\:\\:serializeTokens\\(\\) expects array\\<array\\{int, string, string, array\\{int\\|null, int\\|null\\}, array\\{int\\|null, int\\|null\\}, int\\|null, array\\{int\\|null, int\\|null\\}\\}\\>, non\\-empty\\-array\\<int\\|string, array\\{int, int\\|non\\-falsy\\-string, string, array\\{int\\|null, int\\|null\\}, array\\{int\\|null, int\\|null\\}, int\\|null, array\\{int\\|null, int\\|null\\}\\}\\> given\\.$#"
			count: 1
			path: tests/unit/Toolkit/Sli/SliTestCase.php

		-
			message: "#^Parameter \\#1 \\$data of static method Salient\\\\Sync\\\\AbstractSyncEntity\\:\\:provide\\(\\) expects array, mixed given\\.$#"
			count: 2
			path: tests/unit/Toolkit/Sync/Support/DeferredEntityTest.php

		-
			message: "#^Cannot access offset 0 on array\\<Salient\\\\Sync\\\\Support\\\\DeferredEntity\\<Salient\\\\Tests\\\\Sync\\\\Entity\\\\Post\\>\\|Salient\\\\Tests\\\\Sync\\\\Entity\\\\Post\\>\\|Salient\\\\Sync\\\\Support\\\\DeferredRelationship\\<Salient\\\\Tests\\\\Sync\\\\Entity\\\\Post\\>\\|null\\.$#"
			count: 1
			path: tests/unit/Toolkit/Sync/Support/DeferredRelationshipTest.php

		-
			message: "#^Cannot access property \\$Albums on Salient\\\\Sync\\\\Support\\\\DeferredEntity\\<Salient\\\\Tests\\\\Sync\\\\Entity\\\\User\\>\\|Salient\\\\Tests\\\\Sync\\\\Entity\\\\User\\|null\\.$#"
			count: 1
			path: tests/unit/Toolkit/Sync/Support/DeferredRelationshipTest.php

		-
			message: "#^Cannot access property \\$Posts on Salient\\\\Sync\\\\Support\\\\DeferredEntity\\<Salient\\\\Tests\\\\Sync\\\\Entity\\\\User\\>\\|Salient\\\\Tests\\\\Sync\\\\Entity\\\\User\\|null\\.$#"
			count: 1
			path: tests/unit/Toolkit/Sync/Support/DeferredRelationshipTest.php

		-
			message: "#^PHPDoc tag @var with type Salient\\\\Sync\\\\Support\\\\SyncContext is not subtype of native type \\$this\\(Salient\\\\Tests\\\\Sync\\\\Support\\\\SyncContextTest\\)\\.$#"
			count: 1
			path: tests/unit/Toolkit/Sync/Support/SyncContextTest.php

		-
			message: "#^Cannot access property \\$Id on Salient\\\\Sync\\\\Support\\\\DeferredEntity\\<Salient\\\\Tests\\\\Sync\\\\Entity\\\\User\\>\\|Salient\\\\Tests\\\\Sync\\\\Entity\\\\User\\|null\\.$#"
			count: 1
			path: tests/unit/Toolkit/Sync/Support/SyncEntityProviderTest.php

		-
			message: "#^PHPDoc tag @var with type Salient\\\\Sync\\\\SyncSerializeRules\\<T of Salient\\\\Contract\\\\Sync\\\\SyncEntityInterface\\> is not subtype of native type \\$this\\(Salient\\\\Tests\\\\Sync\\\\SyncSerializeRulesTest\\)\\.$#"
			count: 1
			path: tests/unit/Toolkit/Sync/SyncSerializeRulesTest.php

		-
			message: "#^Parameter \\#1 \\$exception of method PHPUnit\\\\Framework\\\\TestCase\\:\\:expectException\\(\\) expects class\\-string\\<Throwable\\>, string given\\.$#"
			count: 1
			path: tests/unit/Toolkit/Utility/EnvTest.php

		-
			message: "#^Method Salient\\\\Tests\\\\Utility\\\\InflectTest\\:\\:formatRangeProvider\\(\\) should return array\\<array\\{string, string, float\\|int, float\\|int, string\\}\\> but returns array\\{array\\{'on line 71', 'from lines 71 to 83', 71, 83, '\\{\\{\\#\\:on\\:from\\}\\} \\{\\{\\#…'\\}, array\\{'on line 71', 'on lines between 71…', 71, 83, 'on \\{\\{\\#\\:line\\}\\} \\{\\{\\#\\:…'\\}, array\\{'on line 71 in\\:…', 'on lines between 71…', 71, 83, 'on \\{\\{\\#\\:line\\}\\} \\{\\{\\#\\:…', 'Salient\\\\\\\\Tests…'\\}, array\\{'at value 3\\.14', 'between values 3\\.14…', 3\\.14, 6\\.626E\\-34, '\\{\\{\\#\\:at\\:between\\}\\} \\{\\{…'\\}, array\\{'No consecutive days…', null, 0, 0, '\\{\\{\\#\\:No\\}\\}…'\\}, array\\{'1 consecutive day…', '1 to 7 consecutive…', 1, 7, '\\{\\{\\#\\:No\\}\\}…'\\}, array\\{'No ensuites are…', null, 0, 0, '\\{\\{\\#\\:An\\}\\} \\{\\{\\#…'\\}, array\\{'An ensuite is…', '1 to 3 ensuites are…', 1, 3, '\\{\\{\\#\\:An\\}\\} \\{\\{\\#…'\\}\\}\\.$#"
			count: 1
			path: tests/unit/Toolkit/Utility/InflectTest.php

		-
			message: "#^Parameter \\#3 \\$flags of static method Salient\\\\Utility\\\\Regex\\:\\:grep\\(\\) expects int\\<0, 1\\>, int given\\.$#"
			count: 1
			path: tests/unit/Toolkit/Utility/RegexTest.php
