<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
  <testsuites>
    <testsuite name="unit">
      <directory>tests/unit</directory>
    </testsuite>
    <testsuite name="3rdparty">
      <directory>tests/3rdparty</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>internet</group>
    </exclude>
  </groups>
  <coverage
      cacheDirectory="build/cache/coverage"
      pathCoverage="false">
    <include>
      <directory>src/Toolkit</directory>
    </include>
    <exclude>
      <directory>src/Toolkit/Contract/stubs</directory>
      <directory>src/Toolkit/Polyfill/stubs</directory>
      <directory>src/Toolkit/Utility/stubs</directory>
      <file>src/Toolkit/Db/bootstrap.php</file>
      <file>src/Toolkit/Sli/bootstrap.php</file>
    </exclude>
    <report>
      <html outputDirectory="build/coverage" />
    </report>
  </coverage>
  <extensions>
    <extension class="Ergebnis\PHPUnit\SlowTestDetector\Extension">
      <arguments>
        <array>
          <element key="maximum-duration">
            <integer>200</integer>
          </element>
        </array>
      </arguments>
    </extension>
  </extensions>
</phpunit>