services:
	-
		class: Salient\PHPStan\Core\Rules\TypesAssignedByHasMutatorRule
		tags:
			- phpstan.rules.rule

	-
		class: Salient\PHPStan\Utility\Rules\GetCoalesceRule
		tags:
			- phpstan.rules.rule

	-
		class: Salient\PHPStan\Utility\Type\ArrExtendReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Utility\Type\ArrFlattenReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Utility\Type\ArrWhereNotEmptyReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Utility\Type\ArrWhereNotNullReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Utility\Type\GetCoalesceReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Utility\Type\StrCoalesceReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
