services:
	-
		class: Salient\PHPStan\Container\ContainerRule
		tags:
			- phpstan.rules.rule

	-
		class: Salient\PHPStan\Core\ImmutableTraitReadWritePropertiesExtension
		tags:
			- phpstan.properties.readWriteExtension

	-
		class: Salient\PHPStan\Core\ImmutableTraitRule
		tags:
			- phpstan.rules.rule

	-
		class: Salient\PHPStan\Utility\GetCoalesceRule
		tags:
			- phpstan.rules.rule

	-
		class: Salient\PHPStan\Utility\ArrExtendReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Utility\ArrFlattenReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Utility\ArrWhereNotEmptyReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Utility\ArrWhereNotNullReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Utility\GetCoalesceReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Utility\StrCoalesceReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
