services:
	-
		class: Salient\PHPStan\Rules\Core\GetCoalesceRule
		tags:
			- phpstan.rules.rule

	-
		class: Salient\PHPStan\Type\Core\ArrExtendReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Type\Core\ArrWhereNotEmptyReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Type\Core\ArrWhereNotNullReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Type\Core\GetCoalesceReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Salient\PHPStan\Type\Core\StrCoalesceReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
