parameters:
	paths: [%workingDir%/src]
	exclude: [PHPStan]
	excludeProtected: false
	excludePrivate: true
	excludeTagged: [internal]
	outputDir: %workingDir%/docs/api
	themeDir: theme
	title: salient/toolkit

services:
	analyzer.filter:
		factory: Salient\ApiGen\AnalyzerFilter(excludeProtected: %excludeProtected%, excludePrivate: %excludePrivate%, excludeTagged: %excludeTagged%)

	renderer.filter:
		factory: Salient\ApiGen\RendererFilter
